@import '../../../styles//variables';
@import '../../../styles/mixins';

.Table {
  .ant-table-thead {
    .ant-table-cell {
      @include font-style($font-weight-medium, $font-size-sm, $line-height-base);
      background-color: $primary-color !important;
      color: $white;
      border-radius: 0 !important;

      &::before {
        display: none;
      }
    }
  }

  .ant-table-tbody {
    @include font-style($font-weight-normal, $font-size-sm, $line-height-base);
    color: $primary-color;
  }
}
