@import './variables';
@import './mixins';

.ToolBar {
  display: flex;
  background-color: #f4f6f8;
  padding: 15px;
  justify-content: space-between;

  &__left {
    display: flex;
    gap: 15px;
  }

  &__right {
    display: flex;
  }
}

.more-options-action {
  font-size: $font-size-xxs;
  color: $primary-color;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}

.danger {
  color: $red;
}

.main-heading {
  @include font-style($font-weight-bold, $font-size-xl, $line-height-sub);
  color: $primary-color;
}

.form-heading {
  @include font-style($font-weight-bold, $font-size-xxl, $line-height-sub);
  color: $primary-color;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.p-12 {
  padding: 12px;
}

.h-45 {
  height: 45px;
}

.form-input-container {
  border: 1px solid $light-grey-300;
  height: 45px;
  line-height: 45px;
  width: 100%;
  border-radius: 6px;
  padding: 0 10px;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.details-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: 1px solid $light-grey-100;

  &:last-child {
    border-left: none;
  }
}

.details-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
  border-bottom: 1px solid $light-grey-100;
  padding: 8px 24px;
  height: 52.5px;

  &:last-child {
    border-bottom: none;
  }
}

.details-label {
  @include font-style($font-weight-medium, 11px, $line-height-base);
  font-weight: bold;
}

.details-value {
  @include font-style($font-weight-medium, $font-size-sm, $line-height-base);
}

.form-input-label {
  @include font-style($font-weight-normal, $font-size-sm, $line-height-base);
  color: $primary-color-tint-40;
}
