// COLOURS
$primary-color: #2d416f;
$secondary-color: #4baa79;
$primary-color-tint-40: #818da9;
$white: #fff;

// FONT
$font-family: 'Poppins', sans-serif;

$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

$font-size-xs: 13px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 19px;

$line-height-base: 1.5;
$line-height-sub: 1.4;
