@import '../../../styles/variables';

.Button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: $secondary-color;
  color: $white;
  gap: 10px;
  border: none;
  border-radius: 5px;
}
