@import '../../../styles/variables';

.Button {
  display: flex;
  align-items: center;
  padding: 10px 20px !important;
  gap: 10px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  background-color: $white;
  height: unset;
}

.Button--primary {
  background-color: $secondary-color;
  color: $white;

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    border: 2px solid transparent;
    color: $white;
  }
}

.Button--outline {
  background-color: $white;
  color: $secondary-color;
  border-color: $secondary-color;

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    border-color: $secondary-color;
    color: $secondary-color;
  }
}

.Button--danger {
  background-color: $red;
  color: $white;

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    border-color: transparent;
    color: $white;
  }
}

.Button--outline-grey {
  color: $light-grey-400;
  border-color: $light-grey-400;

  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):hover,
  &.ant-btn-default:not(:disabled):not(.ant-btn-disabled):active {
    border-color: $light-grey-400;
    color: $light-grey-400;
  }
}
