@import '../../../styles/variables';
@import '../../../styles/mixins';

.Steps {
  display: flex;
  position: relative;

  &__step {
    position: relative;
  }

  &__step-number {
    width: 40px;
    height: 40px;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $secondary-color;
    color: $secondary-color;
  }

  &__step-number--active,
  &__step-number--completed {
    background-color: $secondary-color;
    color: $white;
  }

  &__step-label {
    @include font-style($font-weight-semibold, $font-size-md, $line-height-base);
    color: $primary-color-tint-40;
    position: absolute;
    display: block;
    top: -25px;
    width: max-content;
    text-align: center;
    font-size: 14px;
    left: -75%;
  }

  &__step-label--active,
  &__step-label--completed {
    color: $secondary-color;
  }

  &__step-line {
    flex-grow: 1;
    height: 2px;
    background-color: $light-grey-500;
    z-index: 0;
    align-self: center;
  }

  &__step-line--active,
  &__step-line--completed {
    background-color: $secondary-color;
  }
}
